.SearchBox{
    margin-bottom: 1.5rem;
}

.InfoBox img {
    display: block;
    margin: 0 auto;
    height: 80px;
}

.formDetails{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 67px;
}

#city{
    color: white;
    font-size: 1.2rem;
}

@media (max-width: 600px) {
  .formDetails {
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }

  #city {
    width: 90%;
    font-size: 1rem;
  }
}
